{% load widget_tweaks %}

    <div class="container">
        <h1 style="color: blue">
          Create a lunch menu 
        </h1>

        <h2>
            {{ note }}
        </h2>

        <form action="{% url 'appointMeal' %}" method="POST">
              {% csrf_token %}
              {% for field in requestMealForm %}
              <div class="form-group">

                {{ field.label_tag }}
                {% render_field field class="form-control" %}

              </div>
              {% endfor %}

              <input type="submit" value="I'm hungry!">
        </form>

    </div>