{% load widget_tweaks %}

    <div class="container">
        <h1 style="color: blue">
          Create a lunch menu 
        </h1>

        <h2>
            {{ note }}
        </h2>

        <form action="{% url 'newMenu' %}" method="POST">
              {% csrf_token %}
              {% if menuform != None %}
                {% for field in menuform %}
                <div class="form-group">

                  {{ field.label_tag }}
                  {% render_field field class="form-control" %}
                  <i>{{ field.help_text }}</i>
                </div>
                {% endfor %}
                <input type="submit" value="Crear menu">
              {% endif %}
        </form>
        <hr/>
        <a href="{% url 'mainPage' %}">Back</a>  
        <hr/>           


    </div>